@model Lab2.Models.Hospital

<h2>Удалить больницу</h2>

<h3>Вы уверены, что хотите это удалить?</h3>
<div>
    <h4>@Model.Name</h4>
    <p>@Model.Address</p>
    <p>@Model.Specializations</p>
    <p>@Model.ChiefDoctor</p>
    <p>@Model.FoundationYear</p>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Удалить" class="btn btn-danger" /> |
    <a asp-action="Index">Назад</a>
</form>
