@model IEnumerable<Lab2.Models.Hospital>

<h2>Просмотр больницs</h2>
 

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Адрес</th>
            <th>Специализации</th>
            <th>Главный врач</th>
            <th>Год основания</th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td>@item.Specializations</td>
                <td>@item.ChiefDoctor</td>
                <td>@item.FoundationYear</td>
                <td>
                    <form asp-action="Edit" asp-route-id="@item.Id" style="display:inline;">
                        <button type="submit" class="btn btn-primary">Редактировать</button>
                    </form> |
                    <form asp-action="Delete" asp-route-id="@item.Id" style="display:inline;" onsubmit="return confirm('Вы уверены, что хотите это удалить?');">
                        <button type="submit" class="btn btn-danger">Удалитьь</button>
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>

